extends listpages
block content
  section#likeshome
    .row.d-flex
      table.table-bordered(border="2" cellspacing="5" cellpadding="5" align="center")
        tr
          td Number of likes
        tr
          td this week
          td= likes
        tr
          td This week
          td #
        tr
          td Last week
          td Ths