extends ../layout
block content
  #home.inner-manage-page
    .overlay-innerpage
  section.py-md-5
    .container
      .row
        .col-lg-9
          button.btn.btn-primary( onclick="startGame()") Start Game
          button.btn.btn-primary(type="button", onmousedown="accelerate(-0.2)" onmouseup="accelerate(0.05)" ) ACCELERATE
        .col-lg-3
          p
            a.text-capitalize.mr-2.work.btn.pink(href="/") Back to Home Page
      .row
        canvas#game-1