#myCarousel.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#myCarousel" data-slide-to="0")
      li(data-target="#myCarousel" data-slide-to="1")
      li(data-target="#myCarousel" data-slide-to="2")
    .carousel-inner
      .carousel-item.active
        .banner-w3pvt-1
      .carousel-item
        .banner-w3pvt-2
      .carousel-item
        .banner-w3pvt-3
    a.carousel-control-prev(href="#myCarousel" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#myCarousel" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next