extends ../layout

block content
  include home-carousel-setting
  .banner-hny-info
      h3 Welcome to Basilwizi
        br 
        | People of the Great River
      .top-buttons.mx-auto.text-center.mt-md-5.mt-3
        a.btn.more.mr-2(href="#features") Read More
        a.btn(href="/sites/itm/contactus") Contact Us
      .d-flex.hny-stats-inf
        .col-md-4.stats_w3pvt_counter_grid.mt-3
          .d-md-flex.justify-content-center
            h5.counter !{data.blogs}
            p.para-w3pvt Comments
        .col-md-4.stats_w3pvt_counter_grid.mt-3
          .d-md-flex.justify-content-center
            h5.counter
            p.para-w3pvt Tonga songs
        .col-md-4.stats_w3pvt_counter_grid.mt-3
          .d-md-flex.justify-content-center
            h5.counter !{data.subs}
            p.para-w3pvt Subscribers
  include welcome
    