nav.wthree-w3ls
  div#logo
    h1
      a.navbar-brand.px-0.mx-0(href="/sites/about") Basilwizi Trust
    label.toggle(for="drop") Menu
    input#drop(type="checkbox")
    ul.menu.mr-auto
      li.active
        a(href="/sites/") Home
      li
        a(href="/sites/about") Mission
      li
        a(href="/sites/management") Organisation
      li
        a(href="/sites/community") Projects
      li
        a(href="/sites/articles") News
      li
        a(href="/sites/contactus") Contact Us
      li.social-icons.ml-lg-3
        a.p-0.social-icon(href='#')
          span.fa.fa-facebook-official(aria-hidden="true")
          .tooltip Facebook
      li.social-icons.ml-lg-3
        a.p-0.social-icon(href='#')
          span.fa.fa-twitter(aria-hidden="true")
          .tooltip Twitter
      li.social-icons.ml-lg-3
        a.p-0.social-icon(href='#')
          span.fa.fa-instagram(aria-hidden="true")
          .tooltip Instagram
          