section.about.py-5
  .container.p-md-5
    .about-hny-info.text-left.px-md-5
      h3.tittle-w3ls.mb-3
        span.pink We 
          | think together
      p.sub-tittle.mt-3.mb-4 News and Updates on Basilwizi activities please visit this site. A list of ongoing and past projects can be found in here too.
      .row
        .col-md-4
          a.btn.more.black(href="/sites/#articles" role="button") Read more
        .col-md-4
          a.btn.more.black(target="_blank" href="/sites/itm/#songs" role="button") Listen
        .col-md-4
          a.btn.more.black(href="/sites/itm/news" role="button") News
section.banner_bottom.py-5
    .container.py-md-5
      .row.inner_sec_info 
        .col-md-6.banner_bottom_grid.help
          img.img-fluid(src="/images/ab.jpg" alt=" ")
        .col-md-6.banner_bottom_left.mt-lg-0.mt-4
          h4
            a.link-hny(href="/sites/extensions/community") Making life happen in the river valley
          p We believe in a healthy living. Therefore we ecourage people to join leisure activities wherever they are. Updates will also come along
          a.btn.more.black.mt-3(href="/sites/extensions/community") Read more
      #features.row.features-w3pvt-main
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="/sites/email/create") Network with others
              p Stay tuned as we will walk with you all the way. Local music is found here. Subscribe to our emailing list so that you can receive current news and other updates 
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-laptop(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="/sites/blogpost") Discussion Corner
              p Share your thoughts and whats happening in your surroundings. Perhaps you could encourage someone to do something worthile
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-handshake-o(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="/sites/") Stay tuned
              p As a community initiative we rely heavily on donotions from warm hearted individuals like you. Please make a donation. It counts
//-services offered by Basliwzi
section#services.services
    .over-lay-blue.py-5
      .container.py-md-5
        .row.my-4
          .col-lg-5.services-innfo.pr-5
            h3.tittle-w3ls.two.mb-3.text-left
              span.pink Basilwizi 
              | is water people
            p the river water is so good no one dares leave it after testing it. thatd why many drink, but a few will survive the river flow.
            a(href="/sites/extensions/community")
              img.img-fluid(src="/images/ab2.jpg" alt=" ")
          .col-lg-7.services-grid-inf
            .row.services-w3pvt-main.mt-5
              .col-lg-6.feature-gird
                .row.features-hny-inner-gd.mt-3
                  .col-md-2.featured_grid_left
                    .icon_left_grid
                      span.fa.fa-paint-brush(aria-hidden="true")
                  .col-md-10.featured_grid_right_info
                    h4
                      a.link-hny(href="#") The way of life
                    p Its our way of life, to live and survive among the river's enlightenment. If you know how to support please feel free.
              .col-lg-6.feature-gird
                .row.features-hny-inner-gd.mt-3
                  .col-md-2.featured_grid_left
                    .icon_left_grid
                      span.fa.fa-bullhorn(aria-hidden="true")
                  .col-md-10.featured_grid_right_info
                    h4
                      a.link-hny(href="#") The way of life
                    p Small things make us great. We live on the edge of water to satiate the thirst thereof.
            .row.services-w3pvt-main.mt-5
              .col-lg-6.feature-gird
                .row.features-hny-inner-gd.mt-3
                  .col-md-2.featured_grid_left
                    .icon_left_grid
                      span.fa.fa-shield(aria-hidden="true")
                  .col-md-10.featured_grid_right_info
                    h4
                      a.link-hny(href="#") The way of life
                    p Its our way of life, to live and survive among the river's enlightenment. If you know how to support please feel free.
              .col-lg-6.feature-gird
                .row.features-hny-inner-gd.mt-3
                  .col-md-2.featured_grid_left
                    .icon_left_grid
                      span.fa.fa-lightbulb-o(aria-hidden="true")
                  .col-md-10.featured_grid_right_info
                    h4
                      a.link-hny(href="#") The way of life
                    p Small things make us great. We live on the edge of water to satiate the thirst thereof.
section#gallery.projects.py-5
    .container.py-md-5
      h3.tittle-w3ls.text-left.mb-5
        span.pink Stunning 
        | Projects
      .row.news-grids.mt-md-5.mt-4.text-center
        .col-md-4.gal-img
          a(href="#gal1")
            img.img-fluid(src="/images/g1.jpg" alt="w3pvt")
          .gal-info
            h5 View Project
              span.decription Website
      #gal1.pop-overlay
        .popup
          img.img-fluid(src="/images/g1.jpg" alt="Popup Image")
          p.mt-4 The Self Help Group project started in 2012 and is operating in the wards of Sinansengwe, Sinampande, Nagangala and Nabusenga in the Zambezi Valley.  
          a.close(href="#gallery") &times;
section
  #accordion
    .card
      .card-header
        a.card-link(data-toggle="collapse" href="#collapseOne")
          h3.tittle-w3ls.mb-3
            span.pink Our Sponsors
      #collapseOne.collapse.show(data-parent="#accordion")
        .card-body.p-0
          include sponsors