//-sites to our newsletter
if !user
  section.news-letter-w3pvt.py-5
    .container.contact-form.mx-auto.text-left
      h3.title-w3ls.two.text-left.mb-3 Newsletter
      form.w3ls-frm(method="post" action="/sites/subscribe/create", enctype="multipart/form-data")
        .row.sites-sec
          p.news-para.col-lg-3 Care be with us
          .col-lg-6.con-gd
            input.form-control(type="email" placeholder="Your email here.." name="subscriber_email" required)
          .col-lg-3.con-gd
            button.btn.submit(type="submit") Subscribe
footer.py-lg-5.py-4
  .container.py-sm-3
    .row.footer-grids
      .col-lg-4.mt-4
        h2
          a.navbar-brand.px-0.mx-0.mb-4(href="/sites/") Basilwizi Trust
        p.mb-3 This organisation is determined to build up people of the great valley. We are gonna work together to achhieve this.
        h5 Trusted by 
          span 500+ Subscribers  
        .icon-social.mt-4
          a.button-footr(href="#")
            span.fa.mx-2.fa-facebook
          a.button-footr(href="#")
            span.fa.mx-2.fa-twitter
          a.button-footr(href="#")
            span.fa.mx-2.fa-dribbble
          a.button-footr(href="#")
            span.fa.mx-2.fa-pinterest
          a.button-footr(href="#")
            span.fa.mx-2.fa-google-plus
      .col-lg-4.mt-4
        h4.mb-4 Donate
          .d-flex
            p
              | BANK: #[strong Standard Chartered Bank Zimbabwe]
              br
              | ACCOUNT NAME: #[strong Basilwizi Trust]
              br
              | ACCOUNT NUMBER :
              br
              | #[strong 87002 – 62296500]
              br
              | ADDRESS: #[strong 84 Fife Street, Bulawayo, ZW]
              br
              | BRANCH CODE: #[strong [5337]] 
              br
              | BANK SWIFT: #[strong [SCBLZWHXA]]
      .col-lg-4.mt-4.ad-info
        h4.mb-4 Contact Info
        p
          span.fa.fa-map-marker   Number 11 Pembury Rd, Paddonhurst, Bulawayo, Zimbabwe
        p.phone
          span.fa.fa-phone   (12) 123 456 789
        p
          span.fa.fa-mobile-phone  077 711 1222
        p
          span.fa.fa-envelope   basilwizi@basilwizi.org
//- Copyright Section
section.copy_right.p-3.d-flex
  .container
    .row.d-flex
      .col-lg-9.copy_w3pvt
        p.text-lg-left.text-center= `© ` + new Date().getFullYear() + ` All Rights reserved. Designed by Mapenzi Mudimba`
      .col-lg-3.move-top.text-lg-right.text-center
        a.move-top(href="#home")
          span.fa.fa-angle-double-up.mt-3(aria-hidden="true")
//-Scripts that run the engine from behind the scenes
script(src="/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js")
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
script(src="/javascripts/pdfobject.js")
script(src="/node_modules/socket.io-client/dist/socket.io.js")