section.news-letter-w3pvt.py-5
  .container.contact-form.mx-auto.text-left
    h3.title-w3ls.two.text-left.mb-3 Newsletter
    form(method="post" action="/sites/store", enctype="multipart/form-data")
      .row.sites-sec
        p.news-para.col-lg-3 Care be with us
        .col-lg-6.con-gd
          input.form-control(type="email" placeholder="Your email here.." name="email" required)
        .col-lg-3.con-gd
          button.btn.btn-primary.btn-sm(type="submit") Subscribe