extends ../layout

block content
  //- About Basilwizi
  #home.inner-manage-page
    .overlay-innerpage
      .top_w3pvt_main.container
    .row.top_w3pvt_main.container
      ol.breadcrumb.d-flex
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Projects
  section.about.py-5
    .container.py-md-5
      .about-hny-info.text-left.pr-lg-5
        h3.tittle-w3ls.mb-3
          span.pink Whe
          |  We Do
        p.sub-tittle.mt-3.mb-4.pr-lg-5 Ths s the story of the people of the great river. t begins wth the great unknown story of a people who iinhanbted this great land, and now are just a handful of marginalised communtities.
        a.btn.more.black(href="#" role="button") Read more
  secton.banner_bottom.py-5
    .container.py-md-5
      .row.inner_sec_info
        .col-md-6.banner_bottom_grid.help
          img.img-fluid(src="/images/p2.jpg" alt="")
        .col-md-6.banner_bottom_left
          h4
            a.link-hny(href="#") Zambezi Valley survival skills
          p These are skills taught to our women for partcpating into crafts making projects for ther own good.
      #features.row.features-w3pvt-main
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Zambezi Valley Child Protection, Care and Support
              p An attached document details how the project took place
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Zambezi Valley Advocacy Project
              p Advocatng for the zambezi valley championship
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Project 415
              p Projects on livelhood of Batonga people
      #features.row.features-w3pvt-main
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Tonga Online Project
              p The ICT department promotes the use of Open Source Software (OSS) and has chosen the Ubuntu software, based on Linux operating systems and developed by Marck Shuttleworth as an easier, more affordable way, for particularly emerging economies to become computer literate.
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Language and Culture Project
              p Basilwizi works with the Language and Culture Project to make education accessible to disadvantaged individuals and to promote the culture and languages of marginalized communities in the Zambezi Valley.
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Protracted Relief Projects – Binga and Gokwe North
              p The purpose of PRP is to ‘Prevent destitution and protect and promote the livelihoods of the poorest and most vulnerable’.
      #features.row.features-w3pvt-main
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Participatory Local Governance and Public Accountability Project
              p (LOGPAP) seeks to ensure that women and youths are able to lead socio-economic change and promote non-ethnically aligned cohesion in Hwange district.
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Integrated Information Creation, Access and Sharing (INCREASH)
              p The overall goal of the project is topromote community participation, freedom of expression and access to information in Binga and Sinazongwe districts of the Zambezi Valley.
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Integrated Aquaculture Agriculture Project
              p To improve food security of vulnerable households by creating an environment that is conducive to reducing the dependency on humanitarian assistance and sustainably increases their resilience to shocks.
      #features.row.features-w3pvt-main
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Health - HIV and AIDS Programme
              p The National Action Plan for Orphans and Vulnerable Children (NAP for OVC) is being implemented in Binga in partnership with Save the Children Zimbabwe.
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Local Rights
              p The main goal for the projects is to combat poverty and socio-economic inequalities affecting development through the promotion of transparency and accountability of local and central governments and corporates so that service delivery can be improved.
        .col-md-4.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              h4
                a.link-hny(href="#") Women Economic Empowerment Project
              p The Women Empowerment Project aims to contribute to the general empowerment of women through economic empowerment approaches.
  //- Drop your projects deas, and thank us
  section#appointment.banner_botton.py-5
    .contaner.py-md-5
      .row.inner_sec_info
        .col-lg-5.banner_bottom_left
          .login.p-md-5.p-4.mx-auto.bg-white.mw-100
            h4 Make and Appointment
            form.form-group(action="" method="post")
              .form-group
                label First Name
                input#validationDefault01.form-control(type="text" placeholder="" name="" required)
              .form-group
                label Last Name
                input#validationDefault02.form-control(type="text" placeholder="" name="" required)
              .form-group.mb-4
                label.mb-2 Password
                input#password1.form-control(type="password" placeholder="" required)
              button.btn.more.black.submit(type="submit") Appointment
        .col-lg-7.banner_bottom_grid.help.pl-lg-5
          img.img-fluid.mb-4(src="/images/fp.jpg" alt="")
          h4
            a.link-hny(href="#") Tell us more
          p.mt-3 The existence of Basilwizi Trust is a demonstration of concern and determination by Zambezi valley communities to demand and restore their dignity taken away from them by the displacement from the Zambezi River banks


  //-secton#services.services 
    .over-lay-blue.py-5
      .container.py-md-5
        .row.my-4
          .col-lg-5.services-innfo.pr-5
            h3.tittle-w3ls.two.mb-3.text-left
              span.pink Many
              | More projects
            p.sub-tittle.mt-2.mb-sm-3.text-lef there are many other projects the communty s engaged in.  hope t helps you my reader
            a(href="#")
              img.img-fluid(src="/images/ab2.jpg")