extends ../layout

block content
  #home.inner-manage-page
    .overlay-innerpage
      .top_w3pvt_main.container
    .row.top_w3pvt_main.container
      ol.breadcrumb.d-flex
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Management
  secton.about.py-5
    .container.p-md-5
      h3.tittle-w3ls.text-center Secretariat and Management
      .row.mt-lg-5.mt-4
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team Programmes Manager
            h3
              a(href="#") Maxwell Dodo Munenge
            p maxwellm@basilwizi.co.zw
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team Finance officer 
            h3
              a(href="#") Nomathemba Nyoni 
            p norman@basilwizi.co.zw
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team Area Coordinator
            h3
              a(href="#") Danisa Mudimba
            p danisam@basilwizi.co.zw
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
      .row.mt-lg-5.mt-4
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
      hr
      h3.tittle-w3ls.text-center Board Members
      .row.mt-lg-5.mt-4
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
      .row.mt-lg-5.mt-4
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
        .col-md-3.team-gd.text-center
          .team-info
            span.sub-tittle-team vacant
            h3
              a(href="#") vacant 
            p The manager. Vast experience i
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
  section.banner_bottom.py-5
    .container.py-md-5
      h3.tittle-w3ls.text-center
        a.link-hny(href="") Advisory council
      .row.features-w3pvt-main
        .col-md-12.feature-gird
          .row.features-hny-inner-gd
            .col-md-3.featured_grid_left
              .icon_left_grid
                span.fa.fa-globe(aria-hidden="true")
            .col-md-9.featured_grid_right_info.pl-lg-0
              p The Advisory Committee plays a liaison and advisory role to the Board and Management. The Advisory committee technically assess progress in implementation and provide advices on programming issues and the Board and management on emerging issues. membersship to this structure is at the instance of the board which  considers individual's community standing, knowledge, skills and experience on issues relevant to Basilwizi work.


