extends ../layout

block content
  #home.inner-w3pvt-page
    .overlay-innerpage
      .top_w3pvt_main.container
    .row.top_w3pvt_main.container
      ol.breadcrumb.d-flex
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Blogging zone
  section#blogcorner.about-info.p-lg-5.p-3
    .content-w3ls-inn.px-lg-5
      .container.py-md-5.py-3
        .content-sing-w3pvt.px-lg-5 
          img.img-fluid.mb-2(src="/images/banner2.jpg" alt=" ")
          h4.title-hny.my-2 Tonga culture in the spotlight
          p The people need life, they need service. who can afford to come down to them and giive them what they want/ are you willing to work wih anfd for them. come lets begin the work.
          p.mt-2 There is time for hoe, time for service delivery and time fr rebuilfing that which looks like a community of love, respect, and social cohession.
          .row.about-w3pvt-top.mt-2
            .col-lg-6.about-info
              h4.title-hny.mb-3 Topics which made headlines
              p We have selected a few issues to talk about. what is your take on these. Lests begin.
            .col-lg-6.about-img
              .row
                .col
                  img.img-fluid(src="/images/g3.jpg" alt="user-image")
                .col
                  img.img-fluid(src="/images/g2.jpg" alt="image")
          .social-icons-footer
            ul.list-unstyled.w3pvt-icons.mb-5
              li.lead Catch on Social :
              li
                a(href="#")
                  span.fa.fa-facebook-f
              li
                a(href="#")
                  span.fa.fa-twitter
              li
                a(href="#")
                  span.fa.fa-google-plus
        //- Section for writing
        .contact-right-hny-info.login.px-lg-5
          if user
            h4.title-hny.mb-5 Write your post
            form#blog-form.contact-hny-form(action="/sites/blog" method="post", enctype="multipart/form-data")
              .row
                .col-lg-5
                  .form-group
                    label Posting as !{user.user_fname}
              input(type="hidden" name="blogger_name" value=`${user.user_fname} ${user.user_lname}`)
              input(type="hidden" name="blogger_email" value=user.user_email)
              .row
                .col-lg-10
                  .form-group
                    label Topic
                    input.form-control(type="text" name="blog_title" placeholder="Title" required="")
              .row
                .col-md-10
                  .form-group
                    textarea.form-control(type="text" name="blog_message" required="")
              .row
                .form-group.mx-auto.mt-3
                  button.btn.more(type="submit") Submit
          if !user
            .container.py-md-5
              h5.tittle-w3ls.text-left.mb-5
                span.pink Login 
                | to write a blog
              .row.news-grids.mt-md-5.mt-4.text-center
                .col-md-4.gal-img
                  a(href="#login1")
                    img(src="/svg/sign-in-alt-solid.svg", alt="Login")
              #login1.pop-overlay
                .popup
                  form(action="/sites/authenticate" method="POST" enctype="multipart/formdata") 
                    .form-row
                      input.form-control(type="text" name="u_sername" placeholder="Username")
                    .form-row
                      input.form-control(type="password" name="user_passwd" placeholder="Password")
                    .form-row
                      button.btn.btn-info(type="submit") Login
                  a.close(href="#blogcorner") &times;
  //- Section for comments
  section
    include blog-comment-section